/* styles for alex.html underneath*/

.bg-image-right{
  background-image: url("resources/right-side.jpg");
  filter: blur(6px);

  height: 1120px;
  width: 270px;
  float: right;

  background-attachment: fixed;

}

.bg-image-left{
  background-image: url("resources/left-side.jpg");
  filter: blur(6px);

  height: 1120px;
  width: 270px;
  float: left;

  background-attachment: fixed;
}